body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family:'Lucida Console'
}

.spells {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.spell {
  border: 2px solid;
  border-radius: 4px;
  padding: .5rem;;
}

.styled-con {
  border-style: solid;
  box-shadow: 7px 7px 0px;
}

.logout {
  background: none;
  border: none;
  color: white;
}

.navbar {
  background-color: black;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: green;
}